# Redis
EKKO_REDIS_HOST=127.0.0.1
EKKO_REDIS_PASSWORD=
EKKO_REDIS_PORT=6379
EKKO_REDIS_DB=0

# Database
EKKO_DATABASE_URL=mysql+aiomysql://username:password@127.0.0.1:3306/EKKO?charset=utf8mb4
EKKO_DB_ECHO=False
EKKO_DB_POOL_SIZE=10
EKKO_DB_MAX_OVERFLOW=20

# Mail
EKKO_MAIL_USERNAME=your_email@example.com
EKKO_MAIL_PASSWORD=your_mail_authorization_code
EKKO_MAIL_FROM=your_email@example.com
EKKO_MAIL_PORT=587
EKKO_MAIL_SERVER=smtp.example.com

# Verify Code
EKKO_VERIFY_CODE_LENGTH=6
EKKO_VERIFY_EXPIRE_TIME=120

# LiveKit
EKKO_LIVEKIT_URL=wss://your-project.livekit.cloud
EKKO_LIVEKIT_API_KEY=your_livekit_api_key
EKKO_LIVEKIT_API_SECRET=your_livekit_api_secret
EKKO_LIVEKIT_TOKEN_EXPIRE_SECONDS=3600
